<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no, minimum-scale=1 maximum-scale=1">

    <title>Jamal Document</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />

    <link rel="stylesheet" href="plugins/croppie-master/croppie.css" />
    <link rel="stylesheet" href="plugins/bootstrap-4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="css/theme.min.css" />
    <link rel="stylesheet" href="css/style.min.css" />
    <style>
        .page-loader {
            background-color: #1e2c24;
            display: flex;
            position: fixed;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            z-index: 1000;
        }

        .page-loader img {
            max-width: 150px;
        }
    </style>
</head>

<body ng-controller="myCtrl">
    <div class="page-loader" ng-if="mainLoaderIs">
        <img src="img/pageLoader.gif" alt="Loader" />
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark my-navbar">
        <a class="navbar-brand" href="#" title="Logo">
            <img src="img/logo.png" alt="Jamal" />
            Group Divider
        </a>
    </nav>

    <div class="row no-gutters main-container" ng-init="reloadFun('onload')">
        <div class="col">
            <div class="current-members-list">
                <div class="details-nav">
                    Total: <strong ng-bind="selMembersList.length"></strong>
                </div>
                <div class="member-chip-list">
                    <ul>
                        <li ng-repeat="cmList in selMembersList track by $index">
                            <span class="icon">
                                <img ng-src="{{cmList.image}}" alt="Photo" ng-if="cmList.image" />
                                <img ng-src="{{cmList.gender == 'male' ? 'img/male.png' : 'img/female.png'}}"
                                    alt="Photo" ng-if="!cmList.image" />
                            </span>
                            <span class="name" ng-bind="cmList.name || '--'"></span>
                            <button ng-click="removeFromSelList('selList', $index)" ng-if="memrsListViewOpenIs"><i
                                    class="fas fa-angle-double-right"></i></button>
                        </li>
                    </ul>
                </div>
                <button type="button" class="btn btn-dark member-adding-btn" ng-click="addMembersFromAll()">
                    <span ng-bind="memrsListViewOpenIs ? 'Close' : 'Add Member'"></span>
                    <i class="fas fa-arrow-right" ng-class="{'open':memrsListViewOpenIs}"></i>
                </button>
            </div>
            <div class="all-member-list" ng-class="{'open':memrsListViewOpenIs}">
                <div class="details-nav">
                    Total: <strong ng-bind="unSelMembersList.length"></strong>
                </div>
                <div class="member-chip-list">
                    <ul>
                        <li ng-repeat="cmList in unSelMembersList track by $index">
                            <button ng-click="removeFromSelList('allList', $index)" ng-if="memrsListViewOpenIs"><i
                                    class="fas fa-angle-double-left"></i></button>
                            <span class="name" ng-bind="cmList.name || '--'"></span>
                            <span class="icon">
                                <img ng-src="{{cmList.image}}" alt="Photo" ng-if="cmList.image" />
                                <img ng-src="{{cmList.gender == 'male' ? 'img/male.png' : 'img/female.png'}}"
                                    alt="Photo" ng-if="!cmList.image" />
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-9 overflow-auto">
            <div class="card">
                <div class="groups-input-form">
                    <form class="form-inline" ng-submit="reloadFun('onclick')">
                        <div class="form-group mr-3">
                            <label>No. of Groups:</label>
                            <input type="number" class="form-control mx-sm-3" ng-model="groupsCount" />
                        </div>
                        <div class="form-group">
                            <label>No. of Members:</label>
                            <input type="number" class="form-control mx-sm-3" ng-model="membersCount" />
                            <button type="submit" class="btn btn-primary">Re-Create</button>
                        </div>
                    </form>
                    <div class="">
                        <button type="button" class="btn btn-secondary total-count-btn" data-toggle="modal"
                            data-target="#membersListModal">Total <span ng-bind="allMembersList.length"
                                class="total-count"></span></button>

                        <button type="button" class="btn btn-secondary mr-3" data-toggle="modal"
                            data-target="#memberAddModal">+ Add</button>
                    </div>
                </div>

                <!-- <table class="table list-view">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Groups Name</th>
                            <th scope="col" ng-repeat="memList in membersInGroup track by $index" ng-bind="memList"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="list in createdGroupList track by $index">
                            <th scope="row" ng-bind="'Grp-' + ($index+1)"></th>
                            <td ng-bind="grp.name" ng-repeat="grp in list track by $index"></td>
                        </tr>
                    </tbody>
                </table> -->

                <div class="box-view">
                    <div class="row">
                        <div class="col-sm-3" ng-repeat="memList in createdGroupList track by $index">
                            <div class="card">
                                <h5 ng-bind="'Group ' + ($index+1)"></h5>
                                <ul class="member-list">
                                    <li ng-repeat="grp in memList track by $index">
                                        <span class="name" ng-bind="grp.name || '--'"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="text-center text-danger" ng-if="createdGroupList.length == 0">Error</h4>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="memberAddModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form class="modal-content" ng-submit="addMembers()">
                <div class="modal-header">
                    <h5 class="modal-title">Add Members</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body emp-add-form">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Name">Name:</label>
                                <input type="text" class="form-control" id="Name" ng-model="membersObj.name"
                                    placeholder="Enter your full name" required />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="empId">Employee Id:</label>
                                <input type="number" class="form-control" id="empId" ng-model="membersObj.empId"
                                    placeholder="Enter emp id" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="department">Department:</label>
                                <select class="form-control" id="department" ng-model="membersObj.department" required>
                                    <option value="" selected disabled>Select Department</option>
                                    <option value="UI">UI</option>
                                    <option value="UX">UX</option>
                                    <option value="INT">INT</option>
                                    <option value="Backend">Backend</option>
                                    <option value="Dev Ops">Dev Ops</option>
                                </select>
                            </div>
                            <div class="gender-selector">
                                <label class="d-block" for="department">Gender:</label>
                                <div class="gender-box">
                                    <input type="radio" name="male" id="maleId" value="male"
                                        ng-model="membersObj.gender" />
                                    <label for="maleId"><img src="img/male.png" alt="Male" /></label>
                                </div>
                                <div class="gender-box">
                                    <input type="radio" name="female" id="femaleId" value="female"
                                        ng-model="membersObj.gender" />
                                    <label for="femaleId"><img src="img/female.png" alt="Female" /></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="photo-selector">
                                <label for="profilePhotoUploader" id="photoUploadingLabel">
                                    <i class="fas fa-camera"></i>
                                </label>
                                <input type="file" id="profilePhotoUploader" accept="image/*"
                                    onchange="angular.element(this).scope().imageUplading(this)" />
                                <div class="cropped-image-view" id="croppedImageViewer" style="display: none;">
                                    <button type="button" class="btn cancel-all-btn" ng-click="cancelAll()"><i
                                            class="fas fa-times"></i></button>
                                    <img src="" alt="Cropped Image" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="cropping-cont" style="display: none;" id="croppingContainer">
                    <button type="button" class="btn close-btn" ng-click="destroyTheCropping()"><i
                            class="fas fa-times"></i></button>
                    <div class="cropping-box" id="imageCroppingBox"></div>
                    <button type="button" class="btn btn-success capture-btn" ng-click="getCroppedImage()">OK</button>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="membersListModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">All Members</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                    <div class="details-nav row no-gutters">
                        <div class="col text-left">
                            Total: <strong ng-bind="allMembersList.length"></strong>
                        </div>
                        <div class="col text-right">
                            <input type="text" class="form-control" ng-model="searchObj.name" id="nameSearch"
                                placeholder="Search by name" />
                        </div>
                    </div>
                    <div class="mem-card-list">
                        <div class="row no-gutters">
                            <div class="col-3"
                                ng-repeat="memList in allMembersList | filter : searchObj track by $index">
                                <div class="card emp-card-ui" ng-class="{'female': memList.gender == 'female'}">
                                    <span class="emp-id" ng-bind="memList.empId"></span>
                                    <div class="card-img">
                                        <img ng-src="{{memList.image}}" alt="Photo" ng-if="memList.image" />
                                        <img ng-src="{{memList.gender == 'male' ? 'img/male.png' : 'img/female.png'}}"
                                            alt="Photo" ng-if="!memList.image" />
                                    </div>
                                    <h5 class="card-title" ng-bind="memList.name" title="{{memList.name}}"></h5>
                                    <p class="department" ng-bind="memList.department"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <!-- <button type="submit" class="btn btn-primary">Update</button> -->
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="studentDeleteModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger">Delete Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <h3 style="color: #778899;">Are you sure you want delete this student?</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="plugins/bootstrap-4.3.1/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="plugins/angular-1.7.8/angular.min.js"></script>
    <script type="text/javascript" src="plugins/bootstrap-4.3.1/js/popper.min.js"></script>
    <script type="text/javascript" src="plugins/bootstrap-4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="plugins/croppie-master/croppie.js"></script>

    <script type="text/javascript" src="js/app.min.js"></script>
    <script type="text/javascript" src="js/controllers/appCtrl.min.js"></script>
</body>

</html>